APP_NAME=Kitobim
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kitobdev
DB_USERNAME=root
DB_PASSWORD=rNL6Y8gmdKetveYM

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=90b4b4de24017b
MAIL_PASSWORD=787188b557d02e
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FCM_LEGACY_SERVER_KEY=AIzaSyDUDrRqNUYMg04rAzGBf9MPt3GjfYA6aI8

GOOGLE_RECAPTCHA_KEY=6LcjkZQUAAAAAAMtmjyOHaecSPkAMsuQ67Mm00Ms
GOOGLE_RECAPTCHA_SECRET=6LcjkZQUAAAAAMbB0NfjouWUwmsyOBdGII4rv8wj
